* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lilita One", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 15px;
  padding-top: 5px;
}

iframe {
  width: 100%;
  height: auto;

  aspect-ratio: 16 / 9;
}
ul#menu {
  list-style: none;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  font-family: "Lilita One", sans-serif;
  font-size: 20px;
}

ul#menu li {
  margin-right: 20px;
}

ul#menu li:last-child {
  margin-right: 0;
}

ul#menu li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color: black;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 10px;
}

.grid_fotos img {
  max-height: 400px;
  width: auto;
}
