* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 15px;
  padding-top: 5px;
}

iframe {
  width: 100%;
  height: auto;

  aspect-ratio: 16 / 9;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 10px;
}

h4 {
  font-size: larger;
  padding-bottom: 5px;
}
.grid_fotos img {
  max-height: 400px;
  width: auto;
}

.overlay_tekst2 p {
  color: white;
  position: absolute;
  transform: translate(30%, 700%);
  font-size: 25px;
}

.overlay_tekst1 h1 {
  color: white;
  position: absolute;
  transform: translate(40%, 100%);
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Abril Fatface", serif;
}

.grid_medvirkende,
.grid_video,
.grid_redigering {
  padding-bottom: 15px;
}
